@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* -------------------------
        Main section start 
    --------------------------- */
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins',
        sans-serif;
}

/* -------------------------
        Hero section start 
    --------------------------- */
.hero {
    background-color: #2D25A0;
    display: grid;
    grid-template-columns: 485px 556px;
    grid-column-gap: 102px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 677px;
}

.left-hero h1 {
    height: 230px;
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    padding-bottom: 27px;
    line-height: 80px;
}

.left-hero a {
    height: 44px;
    padding: 10px 24px;
    background-color: #E02C6D;
    text-decoration: none;
    color: #FFFFFF;
    transition: all .5s ease-in-out;
}

.left-hero a:hover {
    background-color: #fff;
    color: #E02C6D;
}

.left-hero i {
    padding-left: 8px;
}

.right-hero img {
    width: 556.01px;
    height: 438px;
    transition: all .5s ease-in-out;
}

.right-hero img:hover {
    transform: scale(1.1);
}

/* -------------------------
        Hero section end 
    -------------------------- */

/* -------------------------
        articles section start 
    --------------------------- */
.articles {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 330px);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin: 70px 210px 70px 180px;
}

article {
    width: 300px;
    height: 426px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 15px 33px 15px;
}

.articles img {
    width: 300px;
    height: 256px;
    transition: all .5s ease-in-out;
}

.articles img:hover {
    transform: scale(1.1);
}

.articles h2 {
    font-weight: 700;
    font-size: 28px;
    color: #18191F;
    margin: 10px 0;
}

.articles p {
    font-size: 16px;
    color: #6C6C6C;
    margin: 10px 0;
}

/* -------------------------
        articles section end 
    --------------------------- */

/* -------------------------
        newsletter section start  
    ---------------------------   */
.newsletter {
    margin: 0 auto;
    text-align: center;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 3px;
    padding: 2% 0 4% 0;
    background-color: #fff;
}

.newsletter .title h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 3%;
    margin: 0;
    text-decoration: underline;
    text-underline-position: under;
    color: #2D25A0;
}

.newsletter .title p {
    margin: 0 auto;
    font-size: 25px;
    opacity: 80%;
    max-width: 50%;
}

.newsletter .input {
    width: 400px;
    height: 32px;
    border-radius: 15px 0 0 15px;
    text-indent: 10px;
}

form {
    padding: 3% 0 2% 0;
}

input {
    border: 2px solid #2D25A0;
    font-weight: 700;
}


.newsletter .submit {
    width: 100px;
    height: 38px;
    margin-left: -5px;
    border-radius: 0 15px 15px 0;
    background-color: #2D25A0;
    color: #fff;
    text-align: center;
}

.newsletter .submit:hover {
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 3px;
    color: #2D25A0;
}

/* -------------------------
         newsletter section end 
    --------------------------- */

/* -------------------------
        our-partners section start 
    ---------------------------     */
.our-partners {
    margin: 5% auto 0 auto;
    text-align: center;
    padding: 15px 0 40px 0;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 3px;
}

.our-partners h2 {
    font-size: 40px;
    font-weight: 700;
    color: #2D25A0;
    text-decoration: underline;
    text-underline-position: under;
    margin: 5px 0 20px 0;
}

.partners {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-row-gap: 25px;
    justify-content: center;
    align-items: center;
}

.partners img {
    margin: 0 auto;
    width: 40%;
    height: auto;
    transition: all .5s ease-in-out;
}

.partners img:hover {
    transform: scale(1.1);
}

/* -------------------------
        our-partners section end 
    --------------------------- */

/* -------------------------
        Main section end 
    ---------------------------    */

/* -------------------------
        Footer section start 
    --------------------------- */
footer {
    width: 483.87px;
    height: 213px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 158px 481px 63px 475px;
}

.footer-top img {
    width: 100%;
    margin: 10px 0;
}

.footer-mid i {
    width: 32px;
    height: 32px;
    background-color: hsla(230, 35%, 7%, 0.1);
    color: #969BAB;
    border-radius: 50%;
    text-align: center;
    line-height: 2;
    margin: 10px 10px;
    animation: in 0.5s linear;
}

.footer-mid i:hover {
    animation: out 0.5s linear;
    color: #fff;
    background-color: #2D25A0;
}

@keyframes in {
    from {
        transform: rotate(0deg);
        color: #fff;
        background-color: #2D25A0;
    }

    to {
        transform: rotate(360deg);
        color: #fff;
        background-color: #2D25A0;
    }
}

@keyframes out {
    from {
        transform: rotate(360deg);
        color: #fff;
        background-color: #2D25A0;
    }

    to {
        transform: rotate(0deg);
        color: #fff;
        background-color: #2D25A0;
    }
}

.footer-bottom p {
    font-size: 18px;
    padding: 0 123px;
    margin: 10px 0;
}

/* ------------------------
        Footer section end 
    -------------------------- */


/* ------------------------
Small devices (landscape phones, 576px and up)
    -------------------------- */
@media (max-width: 576px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr;
    }

    .hero .left-hero h1 {
        font-size: 36px;
        width: 278px;
        height: 138px;
        line-height: 50px;
        padding-left: 16px;
    }

    .hero .left-hero a {
        width: 168px;
        height: 44px;
        margin: 30px 0 0 19px;
    }

    .hero .right-hero img {
        width: 90%;
        height: auto;
        padding: 50px 16px 61px 15px;
    }

    .articles {
        display: grid;
        justify-content: center;
        grid-template-columns: 330px;
        grid-row-gap: 24px;
        margin: 47px 15px 60px 15px !important;
    }

    .article img {
        width: 300px;
        height: 256px;
    }

    .partners {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
    }

    .partners img {
        width: auto;
    }

    .newsletter {
        margin: 11% auto;
    }

    .newsletter .title h2 {
        font-size: 20px;
    }

    .newsletter .title p {
        font-size: 14px;
    }

    .newsletter .input {
        width: 55%;
        height: 25px;
    }

    .newsletter .submit {
        width: 26%;
        height: 31px;
        margin-left: -7px;
    }

    footer {
        width: 280px;
        height: 175px;
        margin: 0 auto;
        padding: 43px 0 187px 0;
    }

    .footer-bottom p {
        font-size: 18px;
        padding: 0;
    }
}