@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins',
        sans-serif;
}

header {
    background-color: #2D25A0;
    display: grid;
    grid-template-columns: 485px 556px;
    grid-column-gap: 102px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 677px;
}

header .left-header h1 {
    height: 230px;
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    padding-bottom: 27px;
    line-height: 80px;
}

header .left-header a {
    height: 44px;
    padding: 10px 24px;
    background-color: #E02C6D;
    text-decoration: none;
    color: #FFFFFF;

}

header .left-header i {
    padding-left: 8px;
}

header .right-header img {
    width: 556.01px;
    height: 438px;
}

main .articles {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 330px);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin: 70px 210px 165px 180px;
}

article {
    width: 300px;
    height: 426px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 15px 33px 15px;
}

.articles img {
    width: 300px;
    height: 256px;
}

.articles h2 {
    font-weight: 700;
    font-size: 28px;
    color: #18191F;
    margin: 10px 0;
}

.articles p {
    font-size: 16px;
    color: #6C6C6C;
    margin: 10px 0;
}


footer {
    width: 483.87px;
    height: 213px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 158px 481px 63px 475px;
}

.footer-top img {
    width: 100%;
    margin: 10px 0;
}

.footer-mid i {
    width: 32px;
    height: 32px;
    background-color: hsla(230, 35%, 7%, 0.1);
    color: #969BAB;
    border-radius: 50%;
    text-align: center;
    line-height: 2;
    margin: 10px 10px;
}

.footer-bottom p {
    font-size: 18px;
    padding: 0 123px;
    margin: 10px 0;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    header {
        background-color: #2D25A0;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    header .left-header h1 {
        font-size: 36px;
        width: 278px;
        height: 138px;
        line-height: 50px;
        padding-left: 16px;
    }

    header .left-header a {
        width: 168px;
        height: 44px;
        margin: 30px 0 0 19px;

    }

    header .right-header img {
        width: 329px;
        height: 259.17px;
        padding: 50px 16px 61px 15px;
    }

    main .articles {
        display: grid;
        justify-content: center;
        grid-template-columns: 330px;
        grid-column-gap: 30px;
        grid-row-gap: 27px;
        margin: 47px 15px 60px 15px !important;
    }


    .article img {
        width: 300px;
        height: 256px;
    }

    footer {
        width: 280px;
        height: 175px;
        margin: 0 auto;
        padding: 43px 62px 187px 18px;
    }

    .footer-bottom p {
        font-size: 18px;
        padding: 0;
    }
}